body {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
        color: #222;
    }
/* navigation     */
nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 60px;
        background: #fff;
        border-bottom: 1px solid #eee;
    }

nav .logo {
        font-weight: 600;
        font-size: 18px;
        font-family: Playfair Display;
    }

nav ul {
        display: flex;
        gap: 35px;
        list-style: none;
    }

nav ul a {
        cursor: pointer;
        font-size: 14px;
        font-family: roboto;
        text-decoration: none;
        color: inherit;
    }

/* hero section     */
.hero{
    text-align: center;
    margin: 2%;
}
.hero h1{
    margin: 0;
    padding-top: 5%;
    padding-bottom: 1%;
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;


}
.hero p{
    margin: 0;
    padding-top: 1%;
    padding-bottom: 5%;
    font-family: roboto;
    font-size: 18px;
}
.search-box{
        width: 60%;
        max-width: 600px;
        padding: 14px 18px;
        border-radius: 10px;
        border: 1px solid #ddd;
        outline: none;
}
/* Filter tags */
.tags-list{
    margin: 3%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    text-align: center;
}
.tags-list .tag{
    display: block;
    text-align: center;
    width: 130px;
    background-color:#c7f0c9;
    color: black;
    font-weight: 500;
    padding: 8px;
    border-radius: 16px;
    margin: 1% auto;
    cursor: pointer;

}

/* recipe cards */
.recipe-cards{
    margin: 2%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5%;
    
}
.recipe-cards span{
    display: block;
    width: 200px;
    border: 0.5px solid rgb(177, 175, 175);
    border-radius: 16px;
    text-align: start;


}
.recipe-cards span img{
    border-radius: 16px 16px 0px 0px;
}
